<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%- include assets/Google-Analytics.html -%}
{%- if page.home-%}
<title>{{site.title}}</title>
{%- else -%}
<title>{{page.site-title}} - {{site.title}}</title>
{%- endif -%}
